.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background-color: var(--color-background);
}

.content {
  flex: 1;
  flex-direction: column;
  display: flex;
  padding: 32px;
  gap: 16px;
}

.title {
  font-family: var(--text-font-family);
  font-size: var(--text-h1-size);
}

.textarea {
  resize: vertical;
}

.startEndDateContainer {
  display: flex;
  gap: 16px;
  width: 100%;
}

.startEndDate {
  flex: 1;
}
