.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background-color: var(--color-background);
}

.content {
  flex: 1;
  display: flex;
  padding: 32px;

  overflow-y: hidden;
}

.internship {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: auto;
}

.title {
  font-size: var(--text-h1-size);
  font-family: var(--text-font-family);
}

.description {
  font-family: var(--text-font-family);
  font-size: var(--text-body-size);
}
