.internship {
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 16px;
  height: min-content;
  align-items: flex-start;

  border-radius: var(--border-radius);
  background-color: var(--color-paper);
}
div.internshipNarrow {
  flex-direction: column;
}

.title {
  font-family: var(--text-font-family);
  font-size: var(--text-h2-size);
  color: var(--color-paper-contrastText);
}

.internshipInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: max-content;
  flex: 1;
}

.imageContainer {
  max-width: 50%;
  height: 100%;
  max-height: 400px;
  margin-left: auto;
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
}
.imageContainerNarrow {
  max-height: 300px;
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
}

.image {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
img.imageWide {
  object-position: right center;
  width: 99999px;
}
img.imageNarrow {
  object-position: left center;
}

.quickInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.infoChip {
  display: flex;
  align-items: center;
  padding: 3px 6px;
  border-radius: var(--border-radius);
  gap: 4px;
  height: min-content;

  background-color: var(--color-primary);
  font-family: var(--text-font-family);
  font-size: var(--text-label-size);
}

.infoChip > span {
  font-size: 20px;
}

.description {
  font-family: var(--text-font-family);
  font-size: var(--text-body-size);
}
