.internship {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;

  border-radius: var(--border-radius);
  background-color: var(--color-paper);
}

.title {
  font-family: var(--text-font-family);
  font-size: var(--text-h2-size);
  color: var(--color-paper-contrastText);
}

.quickInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.infoChip {
  display: flex;
  align-items: center;
  padding: 3px 6px;
  border-radius: var(--border-radius);
  gap: 4px;

  background-color: var(--color-primary);
  font-family: var(--text-font-family);
  font-size: var(--text-label-size);
}

.infoChip > span {
  font-size: 20px;
}

.description {
  font-family: var(--text-font-family);
  font-size: var(--text-body-size);
}
