.topBar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 24px;

  background-color: var(--color-primary);
}

.title {
  font-family: var(--text-font-family);
  font-size: var(--text-h1-size);
  color: var(--color-primary-contrastText);
}

.buttons {
  margin-left: auto;
  display: flex;
  gap: 16px;
}

.button {
  background-color: var(--color-secondary);
  color: var(--color-secondary-contrastText);
}
