.topBar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 24px;

  background-color: var(--color-primary);
}

.logo {
  height: 4em;
  aspect-ratio: 574 / 527;
  margin-right: 1.5em;
}

.title {
  font-family: var(--text-font-family);
  font-size: var(--text-h1-size);
  color: var(--color-primary-contrastText);
}

.buttonsContainer {
  margin-left: auto;
  display: flex;
  gap: 16px;
}

.button {
  background-color: var(--color-secondary);
  color: var(--color-secondary-contrastText);
}

.userText {
  align-self: center;

  font-family: var(--text-font-family);
  color: var(--color-primary-contrastText);
  font-size: var(--text-body-size);
}
