:root {
  --text-font-family: var(
    --text-font-family-fallback
  ); /* default: sans-serif */
  --text-body-size: var(--text-body-size-fallback); /* default: 1em */
  --text-h1-size: var(--text-h1-size-fallback); /* default: 2em */
  --text-h2-size: var(--text-h2-size-fallback); /* default: 1.5em */
  --text-label-size: var(--text-label-size-fallback); /* default: 0.9em */
  --text-helperText-size: var(
    --text-helperText-size-fallback
  ); /* default: 0.75em */

  --color-primary: #183c40; /* default: blue */
  --color-primary-contrastText: white; /* default: white */
  --color-secondary: #b0d5cd; /* default: orange */
  --color-secondary-contrastText: black; /* default: white */
  --color-background: #f9f9f9; /* default: white */
  --color-background-contrastText: black; /* default: black */
  --color-paper: lightgray; /* default: gray */
  --color-paper-contrastText: black; /* default: black */
  --color-error: var(--color-error-fallback); /* default: red */

  --z-index-backdrop: var(--z-index-backdrop-fallback); /* default: 99 */
  --z-index-snackbar: var(--z-index-snackbar-fallback); /* default: 100 */
  --z-index-modal: var(--z-index-modal-fallback); /* default: 101 */
  --z-index-tooltip: var(--z-index-tooltip-fallback); /* default: 102 */

  --border-radius: 8px; /* default: 0 */
  --border-width: var(--border-width-fallback); /* default: 1px */
  --input-height: var(--input-height-fallback); /* default: calc(37.6 + 8px) */
  --hover-dim: var(--hover-dim-fallback); /* default: brightness(0.8) */

  --table-cell-padding: var(--table-cell-padding-fallback); /* default: 8px */
  --table-border-width: var(--table-border-width-fallback); /* default: 3px */
  --table-cell-border-width: var(
    --table-cell-border-width-fallback
  ); /* default: 2px */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}
