.filters {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 24px 16px;
  margin: 8px;

  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
}

.title {
  font-family: var(--text-font-family);
  font-size: var(--text-h2-size);
  color: var(--color-secondary-contrastText);
}
