.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background-color: var(--color-background);
}

.content {
  flex: 1;
  display: flex;
}

.feed {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
}
